{% extends 'base.html' %}

{% block content %}
Welcome to Tweeter

<div id='tweets'>
    Loading...
</div>

<script>
    const tweetsElement = document.getElementById('tweets')
    tweetsElement.innerHTML = 'Loading...'

    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const responseType = 'json'

    function didLike(tweet_id, currentCount) {
        console.log(tweet_id, currentCount)
    }

    function likeBtn(tweet) {
        return "<button class='btn btn-primary' onclick=didLike(" +
        tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
    }

    function formatTweetElement(tweet) {
        var formattedTweet = "<div class='mb-4 tweet' id='tweet-" + tweet.id
        + "'><p>" + tweet.content +
            "</p><div class='btn-group'>" + likeBtn(tweet) +
            '</div></div>'
        return formattedTweet
    }

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedTweets = serverResponse.response
        var finalTweetStr = ''
        var i;
        for(i = 0; i < listedTweets.length; i++) {
            var tweetObject = listedTweets[i]
            var currentItem = formatTweetElement(tweetObject)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr
        console.log(listedTweets)
    }
    xhr.send()
</script>

{% endblock content %}
